<!DOCTYPE html>
<html>
  <head>
    <title>TOPSIS Web Service</title>
  </head>
  <body>
    <h2>TOPSIS Web Service</h2>
    <form method="post" enctype="multipart/form-data">
      <label>File Name:</label>
      <input type="file" name="file" required /><br /><br />

      <label>Weights:</label>
      <input
        type="text"
        name="weights"
        placeholder="1,1,1,1"
        required
      /><br /><br />

      <label>Impacts:</label>
      <input
        type="text"
        name="impacts"
        placeholder="+,+,-,+"
        required
      /><br /><br />

      <label>Email Id:</label>
      <input
        type="email"
        name="email"
        placeholder="user@example.com"
        required
      /><br /><br />

      <button type="submit">Submit</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
  </body>
</html>
